/* Body-level */
body {
    font-family: verdana, sans-serif;
    line-height: 1.25;
}

h1, h3, h4 {
    color: #990000;
}

a:link, a:visited {
    color: #990000; 
}

a:hover {
    color: black; 
    text-decoration: underline; 
}


/* Content-level */
.wrapper-whole {
    margin: auto; 
    width: 960px; 
}


/* Section 1 */
/* Subsection A */
.brand-search {
    background-image: url(hdr_fill.png); 
    background-repeat: repeat-x;
}

.wrapper-part-one {
    margin: auto; 
    width: 90%; 
}

div>input:nth-of-type(1) {
    margin-left: 100px; 
    background-color: white;
    border: 2px solid rgb(215,215,215);
}

div>input:nth-of-type(2) {
    color: white; 
    border: 1px solid white;
}


/* Subsection B */

#special-list-type-one {
    background-color: rgb(232,232,232); 
    font-size: 0.66em; 
    margin-top: 0px;
    margin-bottom: 2.5px; 
    padding-top: 5px; 
    padding-bottom: 5px; 
    padding-left: 20px;
    list-style-type: none;
    border-bottom: 1px solid rgb(180,180,180); 
}

#special-list-type-one>li {
    display: inline;
    padding: 0px 10px 0px 10px; 
    border-right: 1px solid rgb(180,180,180); 
    color: rgb(102,102,102)
}

#special-list-type-one>li:nth-of-type(8) {
    border-right: none; 
}


/* Section 2 */
.wrapper-part-two {
    margin: auto; 
    margin-top: 30px; 
    width: 95%;
}


/* Subsection A */
.local-nav {
    display: inline-block; 
    width: 23%;
    vertical-align: top;
    background-color: rgb(238,238,238);
    border: 1px solid rgb(215,215,215);
}

#special-list-type-two {
    list-style-type: none;
    padding-left: 20px
}

ul>li {
    color: #990000;
    margin-bottom: 7.5px; 
}


/* Subsection B */
.main-content {
    margin-left: 2%; 
    display: inline-block; 
    width: 72%; 
}

div>h1 {
    font-size: 1.5em; 
    margin: 0;
}