* {
      -moz-margin-after: 0;
      -moz-margin-before: 0;
      -webkit-margin-after: 0;
      -webkit-margin-before: 0;
      margin: 0;
      padding: 0;
      line-height: 1;
}

.cardDefault {
      border: 1px solid black;
      margin-right: 33px;
      margin-bottom: 33px; 
      width: 333px;
      text-align: center;
      padding: 100px 0px;
      display: inline-block;
}

.cardAlternative {
      border: 1px solid black;
      margin-right: 33px;
      margin-bottom: 33px; 
      width: 333px;
      text-align: center;
      padding: 100px 0px;
      display: inline-block;
}

h3 {
      margin-bottom: 8.3px;
}

h1 {
      border-bottom: 1px solid black;
      margin-top: 33px;
      margin-bottom: 33px; 
}

.wrapper {
      width: 333px;
}

.inputBlock {
      display: block;
      margin-bottom: 8.3px;
      text-align: right;
}

label {
      display: inline-block;
}

input {
      border: 1px solid gray;
}

#submit {
      margin-top: 33px;
      margin-bottom: 33px; 
      margin-left: 254px;
      padding: 3.3px;
}