* {
      margin: 0;
      padding: 0
}

body {
      font-family: "Ek Mukta", "Trebuchet MS", "Helvetica Neue", Arial, Helvetica, sans-serif;
      font-weight: 300;
      line-height: 1.5
}

h3 {
      color: #2874ad;
      font-size: 20px;
      font-weight: 300;
      margin-bottom: 10px
}

a {
      color: #2874ad
}

p,
li {
      font-size: 13px;
      margin-bottom: 2.5px
}

.wrapper-one {
      background: #FFF;
      margin: 0 auto;
      width: 960px
}

.top-row {
      margin-left: 533px
}

div>ul.top-row-inline {
      background: #f4f4f4;
      border-bottom: 1px solid #e0e0e0;
      border-left: 1px solid #e0e0e0;
      border-right: 1px solid #e0e0e0;
      font-size: 0;
      padding-bottom: 2.5px
}

ul.top-row-inline>li {
      border-right: 1px solid #9d9d9d;
      color: #999;
      display: inline-block;
      font-size: 12px;
      padding: 0 7px
}

ul>li:nth-of-type(5) {
      border-right: none
}

.top-row input {
      background: #19b1ef;
      border: none;
      color: #FFF;
      font-weight: 300;
      margin-left: 20px;
      padding: 1px 12.5px 3px;
      border-radius: 5px
}

.branding > img {
      display: inline-block;
      margin-left: 7px;
      vertical-align: top
}

.brand {
      display: inline-block;
      margin-bottom: 17.5px;
      margin-top: 12.5px
}

.header h1 {
      display: inline-block;
      font-size: 35px;
      font-weight: 400;
      letter-spacing: 1px;
      margin-left: 5px;
      padding-bottom: 5px;
      vertical-align: bottom
}

h1 span:nth-of-type(1) {
      color: #7f7f7f;
      padding-right: 3.5px
}

h1 span:nth-of-type(2) {
      color: #197eab
}

.branding > h2 {
      background: #127ac0;
      color: #FFF;
      font-size: 27.5px;
      font-weight: 300;
      padding: 12.5px 0 12.5px 11px;
      border-radius: 5px
}

.wrapper-two {
      margin-left: 10px;
      margin-top: 20px;
      width: 930px
}

.ads {
      display: inline-block;
      margin-right: 25px;
      margin-top: 75px;
      vertical-align: top;
      width: 220px
}

.ads p:nth-of-type(1) {
      color: #df4500;
      font-weight: 700
}

.ads p:nth-of-type(2) {
      margin-bottom: 20px
}

.ads > input {
      color: #FFF;
      display: block;
      font-weight: 700;
      margin: 2.5px auto;
      padding: 5px 0;
      text-transform: uppercase;
      width: 100%;
      border-radius: 10px
}

.ads > input:nth-of-type(1) {
      background: #19b1ef
}

.ads > input:nth-of-type(2) {
      background: #df4500
}

.ads > p:nth-of-type(3) {
      margin-bottom: 10px;
      margin-top: 5px;
      text-align: center
}

.ads > img {
      margin-left: 50px
}

.main {
      display: inline-block;
      width: 680px
}

.fa-home,
.fa-angle-right {
      color: lightgray
}

.nav-info-right {
      display: inline-block;
      margin-left: 432px;
      line-height: 1.25
}

.nav-info-right-right {
      display: inline-block
}

.nav-info-right > img {
      margin-right: 10px;
      vertical-align: 80%
}

.nav-info-right-right > h2 {
      color: #19b1ef;
      font-size: 27.5px
}

.nav-info-right-right > p:nth-of-type(2) {
      margin-bottom: 7.5px
}

.content {
      margin-right: 25px;
      margin-top: 12.5px
}

.bold {
      font-weight: 700
}

.content > p:nth-of-type(1) {
      margin-bottom: 10px
}

.content > ul {
      list-style-position: inside
}

.banner {
      border: 5px solid #127ac0;
      margin: 12.5px auto;
      padding: 5px;
      border-radius: 5px
}

.banner > img {
      display: inline-block;
      margin-right: 7.5px;
      vertical-align: top
}

.banner-right {
      display: inline-block;
      width: 578px
}

.banner-right > h3 {
      margin-bottom: 0
}

.banner-right > p {
      font-size: 17.5px;
      font-weight: 300
}

.banner-right > input {
      background: #00e61e;
      border: 2px solid #9cb246;
      color: #FFF;
      font-weight: 700;
      margin-top: 7.5px;
      padding: 10px 25px;
      text-transform: uppercase;
      border-radius: 10px
}

.top-row-inline,
.nav-info-left {
      display: inline-block;
      vertical-align: top
}

.ads > hr,
.content ul > li:nth-of-type(2) {
      margin-bottom: 25px
}