body {
      background-color: rgb(246, 246, 246);
      padding-top: 0px;
}

.navbar {
      position: relative;
      margin-bottom: 0px;
}

.navbar-brand {
      position: absolute;
      left: 50%;
      margin-left: -50px !important;
      /* 50% of your logo width */
      display: block;
      padding-bottom: 25px;
}

.navbar-brand img {
      height: 25px;
}

.jumbotron {
      background-color: rgb(75, 57, 74);
      padding-top: 24px;
}

h1 {
      margin-bottom: 3.3%;
}

.container-center {
      color: white;
      text-align: center;
}

span {
      text-decoration: line-through;
}

.btn-down {
      margin-top: 2%;
}

.thumbnail {
      border: none;
}

.puzzle {
      background-size: cover;
      height: 100px;
      margin-bottom: 12px;
      background-image: url(cat.jpg);
}

#last {
      margin-bottom: 0px;
}

.piece1 {
      background-position: 50% 0px;
}

.piece2 {
      background-position: 50% -100px;
}

.piece3 {
      background-position: 50% -200px;
}

.piece4 {
      background-position: 50% -300px;
}

.piece5 {
      background-position: 50% -400px;
}

.dummy-1 {
      background-image: url(dog.jpg);
      display: none; 
}

.dummy-2 {
      background-image: url(cat.jpg);
      display: none; 
}