* {
      -moz-margin-after: 0;
      -moz-margin-before: 0;
      -webkit-margin-after: 0;
      -webkit-margin-before: 0;
      margin: 0;
      padding: 0;
      line-height: 1;
}

body {
      background-color: black;
      color: white; 
}

img {
      display: inline-block; 
      width: 49%; 
      border: 1px solid white; 
}

h1, p {
      margin: 20px 0px; 
}

p {
      width: 98.25%; 
}