/*CSS reset settings here*/
* {
    margin: 0px;
    padding: 0px;
}


#wrapper {
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 25px;
}

#header {
    height: 150px;
    background-color: green;
}

#navigation {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin-top: 25px; 
    float: left;
}

#main_content {
    height: 400px;
    width: 725px;
    background-color: red;
    margin-top: 25px;
    margin-left: 225px; 
}

.subcontents {
    height: 200px;
    width: 210px;
    background-color: yellow;
    margin-top: 12.5px; 
    margin-right: 12.5px; 
    float: left;
}

.subcontents:nth-of-type(1)  {
    margin-left: 12.5px; 
}

#advertisement{
    height: 120px;
    width: 660px;
    background-color: purple;
    float: left;
    margin-left: 12.5px;
    margin-top: 25px;
}